node-red/flows.json
[
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "node_red_flow",
        "name": "MQTT Subscriber",
        "topic": "agriculture/field1/sensors",
        "qos": "2",
        "broker": "mqtt_broker",
        "datatype": "json",
        "x": 200,
        "y": 100,
        "wires": [["json_parser"]]
    },
    {
        "id": "json_parser",
        "type": "json",
        "z": "node_red_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "x": 400,
        "y": 100,
        "wires": [["influxdb_out"]]
    },
    {
        "id": "influxdb_out",
        "type": "influxdb out",
        "z": "node_red_flow",
        "name": "InfluxDB Writer",
        "database": "agriculture_db",
        "measurement": "sensor_data",
        "precision": "ms",
        "x": 600,
        "y": 100,
        "wires": []
    }
]
